#container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#grid-container {
    width: 100%;
    height: 100%;
}

#background {
    position: relative;
    display: inline-block;
    width: 70vh;
    height: 70vh;
    background-color: turquoise;
}

.row {
    margin: 0%;
    height: 33.3%;
    width: 100%;
}

.cell {
    box-sizing: border-box;
    display: inline-block;
    width: 33.3%;
    height: 100%;
}

.cell-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#first-vertical-line {
    left: 33.3%;
}

#sec-vertical-line {
    left: 66.6%;
}

#first-horizontal-line {
    top: 33.3%;
}

#sec-horizontal-line {
    top: 66.6%;
}

.vert-line {
    height: 70vh;
    top: 0%;
    width: 0.25em;
}

.horiz-line {
    width: 70vh;
    height: 0.25em;
    left: 0%;
}

.line {
    position: absolute; 
    background-color: black; 
}

.cell-container p {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
}

.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 4em;
    margin: 0%;
}

#restartGame {
    font-weight: bold;
    font-size: 2em;
}

.clickable:hover {
    cursor: pointer;
}

@media (max-width: 767px) {
    #background {
        width: 70vw;
        height: 70vw;
    }

    .vert-line {
        height: 70vw;
    }

    .horiz-line {
        width: 70vw;
    }
}