<div id="container">
  <h1>{{headerStr}}</h1>
  <div id="background">
    <div id="grid-container" *ngIf="winner === '' || showGridEnd">
      <div class="row" *ngFor="let row of gridView; let rowIndex = index">
        <div class="cell" *ngFor="let cel of row; let colIndex = index">
          <div *ngIf="cel === ''" (click)="playTurn(rowIndex, colIndex)" class="cell-container clickable">
            <p>{{cel}}</p>
          </div>
          <div *ngIf="cel !== ''" class="cell-container">
            <p>{{cel}}</p>
          </div>  
        </div>
      </div>
      <div id="first-vertical-line" class="vert-line line"></div>
      <div id="sec-vertical-line" class="vert-line line"></div>
      <div id="first-horizontal-line" class="horiz-line line"></div>
      <div id="sec-horizontal-line" class="horiz-line line"></div>
    </div>

    <p *ngIf="(winner === 'X' || winner === 'O') && !showGridEnd" class="winner">{{winner}} WINS</p>
    <p *ngIf="winner === 'DRAW' && !showGridEnd" class="winner">X & O DRAW</p>
    <p *ngIf="winner !== '' && !showGridEnd" class="show-grid clickable" (click)=showGrid()>Show grid</p>
            
  </div>
  <p id="restartGame" class="clickable" (click)=restartGame()>RESTART GAME</p>
</div>
