#container {
    width: 100%;
    height: 100%;
    text-align: center;
}

#background {
    display: inline-block;
    margin-top: 5vh;
    width: 70vh;
    height: 70vh;
    background-color: turquoise;
}

#restartGame {
    font-weight: bold;
    font-size: 2em;
}

#restartGame:hover {
    cursor: pointer;
}